@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

i{
    font-size: 3rem;
    color: #0099ff;
}

.mat i{ 
    font-size: 1.5rem;
    color: #777;    
} 